body {
    background-color: black;
    color: white;
}

header, .footer-container {
    background-color: rgb(30, 30, 30);
}

.header-logo {
    background-image: url('../assets/codeCake3.png');
}

.lang-button {
    color: white;
    border: 1px solid white;
}

.search-cake input[type="text"] {
    color: white;
}

.search-cake input:focus {
    border-color: #298ad5;
}

.search-cake input::placeholder {
    color: white;
}

.sidebar-filters, .cake-card,.search-cake input, .card-cart {
    background-color: var(--dark-theme-background);
}

.header-buttons {
    background-color: rgb(30, 30, 30);;
}

.burger {
    color: white;
    border-color: white;
}

.header-cart svg {
    fill: white;
}

.cart-display-container {
    background-color: rgb(30, 30, 30);
    box-shadow: -4px 4px 8px rgba(255, 255, 255, 0.23);
}

