body {
    background-color: black;
    color: white;
}

header, .footer-container {
    background-color: rgb(30, 30, 30);
}

.header-logo {
    background-image: url('../assets/codeCake3.png');
}

.lang-button {
    color: white;
    border: 1px solid white;
}

.search-cake input[type="text"] {
    color: white;
}

.search-cake input:focus {
    border-color: #298ad5;
}

.search-cake input::placeholder {
    color: white;
}

.sidebar-filters, .cake-card,.search-cake input {
    background-color: var(--dark-theme-background);
}

