body {
    background-color: black;
    color: white;
}

header, .footer-container {
    background-color: rgb(30, 30, 30);
}

.header-logo {
    background-image: url('../assets/codeCake3.png');
}

.lang-button {
    color: white;
    border: 1px solid white;
}

.search-cake input[type="text"] {
    color: white;
}

.search-cake input:focus {
    border-color: #298ad5;
}

.search-cake input::placeholder {
    color: white;
}


.sidebar-filters, .cake-card,.search-cake input, .card-cart, .sign-up-container, .log-in-container {
    background-color: var(--dark-theme-background);
}

.header-buttons {
    background-color: rgb(30, 30, 30);
}

.burger {
    color: white;
    border-color: white;
}

.header-cart svg {
    fill: white;
}

.cart-display-container, #loading, .payment-result, .lang-dropdown, .reset-confirmation {
    background-color: rgb(30, 30, 30);
    box-shadow: -4px 4px 8px rgba(255, 255, 255, 0.23);
}


.profile-history-container, .goods-in-order, .account-question, .main-header {
    background-color: rgb(30, 30, 30) !important;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.4) !important;
}

